.image-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid;
  &.disable {
    pointer-events: none;
  }
  &:hover {
    .btn-edit {
      display: inline-block;
    }
  }
  .btn-edit {
    padding: 8px;
    border: 1px solid;
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: white;
  }
  input {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
  }
}